.App {
  text-align: center;
  background-color: #050380;
  padding-bottom: 100%;
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#to-do, #in-progress, #in-review, #done {
  background-color: #1A659E;
  padding: 3%;
  border-radius: 5px;
  margin: 1%;
}

#to-do-create-new, #in-progress-create-new, #in-review-create-new, #done-create-new {
  display: none;
}

#to-do-form, #in-progress-form, #in-review-form, #done-form {
  display: none;
}


#in-progress-div {
  display: none;
}

.add-reply-prompt {
  display: none;
}

.single-issue {
  background-color: #004E89;
  color: #F7C59F;
  text-align: start;
  margin: 3%;
  padding: 2%;
  border-radius: 5px;
}

#details {
  text-align: start;
}

#issue-body {
  text-align: start;
}

#user-dropdown {
  /* background-color: #EFEFD0; */
  display: none;
}

.issue-card-col{
  align-items: center;
}

.assignee-initials-col {
  text-align: center;
  background-color: red;
  border-radius: 50%;
}

.assignee-initials {
  color: black;
  margin-top: 50%;
}

#table-container { 
  padding-top: 5%;
  color: white;
}

#single-project-container {
  padding-top: 4%;
  color: white;
}


#welcome-container {
  color: white;
  padding-top: 10%;
}

