.single-issue-body {
    background-color: lightcyan;
    padding-top: 5%;
}

#all, #comments, #history {
    margin: 0% 2% 0% 2%;
    border-radius: 5%;
    background-color: lightgray;
    padding: 0% 1% 0% 1%;
}

#comment-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 3%;
    padding: 10% 0% 10% 0%;
    border-radius: 2%;
}

#comment-submit-button{
    margin: 0 45px 0 4px;
}

#lower-buttons{
    margin-top: 30px;
}

.comment-cards {
    background-color: lightblue;
    padding: 2%;
    margin: 8% 0;
    border-radius: 45px;
}

.reply-form {
    display: none;
}

#desc-form {
    display: flex;
}

.desc-buttons{
    width: 100px;
    margin: 5%;
}

#description-input{
    display: none;
}

#issue-body-top {
    margin: 0% 0 4% 0;
}

#desc-wrapper{
    margin: 5% 0;
}