.single-reply {
    background-color: white;
    margin-top: 3%;

    border-radius: 55%;
    text-align: center;
}

.user-reply {
    margin-left: 5%;
    size: 5px;
}

.single-reply-wrapper{
    padding: 5% 0;
}